#!/usr/bin/make -f

%:
	dh $@


CURDEB := $(CURDIR)/debian/unibuild

override_dh_install:
	make \
	    BINDIR=$(CURDEB)/usr/bin \
	    DOCDIR=$(CURDEB)/usr/share/unibuild \
	    LIBEXECDIR=$(CURDEB)/usr/libexec/unibuild \
	    LIBEXECINSTALLEDDIR=/usr/libexec/unibuild \
	    install

override_dh_auto_install:
	@true


override_dh_installdocs:
	dh_installdocs README.md
