Source: unibuild-package
Section: net
Priority: optional
Maintainer: perfSONAR developers <debian@perfsonar.net>
Uploaders: Mark Feit <mfeit@internet2.edu>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/perfsonar/unibuild
Vcs-Git: git://github.com/perfsonar/unibuild
Vcs-Browser: https://github.com/perfsonar/unibuild

Package: unibuild-package
Architecture: all
Depends: ${misc:Depends}, make, sudo, dpkg, apt
# Ubuntu needs this.  Debian doesn't care.
Suggests: equivs
Description: Generic package builder
