#!/usr/bin/make -f

%:
	dh $@


override_dh_install:
	make DESTDIR=$(CURDIR)/debian/unibuild-package/usr/include/unibuild install


override_dh_auto_install:
	@true


override_dh_installdocs:
	dh_installdocs $(CURDIR)/README.md
