[Unit]
Description=The target for ddb-entrypoint.service
Requires=ddb-entrypoint.service systemd-logind.service systemd-user-sessions.service dbus.service
